@import './styles/reset.scss';
@import './styles/variables.scss';

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	-webkit-text-size-adjust: 100%;
	font-size: 16px;
	background-color: #000000;
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	background-image: url('./assets/bg.jpg');
	background-size: cover;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.375em;
	padding: 1em;
	min-height: 100vh;

	@media screen and (min-width: 720px) {
		display: flex;
	}
}

h1, h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0 0 20px 0;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 5px 0;
}

p {
	margin: 0;
}

ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.today {
	margin-bottom: 30px;

	@media screen and (min-width: 720px) {
		margin-right: 10px;
	}
}

.today,
.tomorrow {
	@media screen and (min-width: 720px) {
		flex: 1 1 50%;
	}
}

.movie-item {
	display: flex;
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, .2);
	padding: 10px;
	border-radius: 2px;
	min-height: 71px;
}

.movie-info {
	cursor: pointer;
	width: 100%;
}

.logo {
	margin-right: 10px;

	img {
		width: 45px;
		height: auto;
	}
}

.assets-details {
	overflow: hidden;
	height: 0;
	margin-top: 0;
	transition: height 0.3s ease-out, margin 0.3s ease-out;

	&.open {
		height: 100%;
		margin-top: 10px;
		transition: height 0.3s ease-out, margin 0.3s ease-out;
	}

	@media screen and (min-width: 720px) {
		display: flex;
		flex-direction: row-reverse;
	}
}

.synopsis {
	p {
		margin-bottom: 5px;
	}

	strong {
		font-weight: bold;
	}

	@media screen and (min-width: 720px) {
		flex: 1 1 66%;
	}
}

.asset-image {
	margin: 0 0 10px 0;

	img {
		border: 1px solid rgba(255, 255, 255, .2);
		max-width: 100%;
	}

	@media screen and (min-width: 720px) {
		flex: 1 1 33%;
		margin: 0 0 0 20px;
		text-align: right;
	}
}

@media (min-width: 720px) {

}